{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content" class="old_ratonGato">
    <div class="search">
        <ul class="filtro">
            <li><a href="#">Filtrar partidas</a>
                <ul class="categorias">
                    <li><a href="{% url 'select_game' tipo=2 %}">Sin filtro</a></li>
                    <li><a href="{% url 'select_game' tipo=2 filter=1 %}">Unirse como gato</a></li>
                    <li><a href="{% url 'select_game' tipo=2 filter=2 %}">Unirse como PAC</a></li>
                    <li><a href="{% url 'select_game' tipo=2 filter=3 %}">Mi turno</a></li>
                </ul>
            </li>
        </ul>
    </div>
    {% if not games %}
        No hay partidas a las que unirse, o no hay coincidencias con el filtro aplicado
    {% else %}
        <h1>Seleccionar juego para unirse</h1>
        <div class=main-select>
            <table class=tabla-juegos>
            <thead>
                <tr>
                    <th>Usuario gato</th>
                    <th>Id juego</th>
                    <th>Turno actual</th>
                    <th>Jugar</th>
                </tr>
            </thead>

            {% for game in games %}
                <tr>
                    <td>{{game.cat_user}}</td>
                    <td>{{game.id}}</td>
                    {% if game.cat_turn == True %}
                        <td>Turno gato</td>
                    {% else %}
                        <td>Turno PAC</td>
                    {% endif %}
                    <td><a href="{% url 'select_game' tipo=2 game_id=game.id %}"><img src="{{ baseUrl }}/img/personajes/main.png" alt="Catimage" class="imagestylesmall"></a></td>
                </tr>
            {% endfor %}
            </table>
            {% include 'mouse_cat/pagination.html' %}
        </div>
    {% endif %}
</div>
{% endblock content %}